{% extends 'template.html' %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ SITENAME }}</h1>
    <p>If Jim's made a video, chances are good it's here somewhere.</p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-3 text-center">
  <h3>Recently Added</h3><br>
    <div class="row">
    {% for article in articles %}
        <div class="col-sm-3" style="margin-bottom: 25px;">
          <p><a href="{{ SITEURL }}/{{ article.url }}"><strong>{{ article.title|truncate(50) }}</strong></a></p>
            <div><a href="{{ SITEURL }}/{{ article.url }}">
            {% if article.thumbnail is defined and article.thumbnail|trim != "" %}
                <img src="{{ article.thumbnail }}" class="img-responsive" style="width:100%" title="{{ article.title }}" alt="{{ article.title }}" />
            {% else %}
                <img src="https://i.ytimg.com/vi/d6GvVIYlHlQ/maxresdefault.jpg" class="img-responsive" style="width: 100%" alt="{{ article.title }}" />
            {% endif %}
            </a>
            </div>
            <div>
                <div class="pull-right">{{ article.series }}</div>
                <div class="pull-left">{{ article.persona }}</div>
            </div>
        </div>
        {% if loop.index % 4 == 0 %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}

